
@* front end form to submit card purchase confirmation *@

@using Casino.WebApi.Models
@model ChargeViewModel

@{
    ViewBag.Title = "PurchaseStatus";
}

<h2>PurchaseStatus</h2>

<p>@Model.ChargeId<br/></p>
  <p> @Model.ChargeAmount</p>