<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="JoshTest1" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_1JoshExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="JoshTest2" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_2JoshExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="JoshTest3" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_3JoshExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />

	<add name="BrianExp1" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BrianExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="BrianExp2" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_2BrianExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="BrianExp3" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_3BrianExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />

	<add name="Eric1" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_1EricExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="Eric2" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_2EricExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="Eric3" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_3EricExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />

	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />

</connectionStrings>

