<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="BrianExp1" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BrianExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="BrianExp2" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_2BrianExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="BrianExp3" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_3BrianExpBlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />

	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />

</connectionStrings>
