<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="TestConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BlueBadgeCasinoDbTest;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="ProductionConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BlueBadgeCasinoDbProduction;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="SecondTestConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BlueBadgeCasinoDbSecondTest;Integrated Security=True" providerName="System.Data.SqlClient" />

	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BlueBadgeCasino;Integrated Security=True" providerName="System.Data.SqlClient" />

</connectionStrings>
